# <B><I>BIG DATA ANALYSIS...

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import io

In [2]:
url="https://raw.githubusercontent.com/manmay2/PYTHON-PROGRAMMING/main/PROGRAMS/Test%20(1).csv"

In [13]:
data = requests.get(url).content
data=pd.read_csv(io.StringIO(data.decode('utf-8')))
data.head()

  Airport_Name  Flights_Available  Passengers        Going to  Cost of tickets
0    FRANKFURT                  8        1091          MUMBAI            37281
1       HALLEY                  4         982       FRANKFURT            86273
2  NETHERLANDS                  0        1367           DELHI            65137
3         KOTA                  4         958  SILICON VALLEY            66346
4  NETHERLANDS                  1         932  SILICON VALLEY            86749

### Max cost 
### Avg cost
### airport having max flight
### Avg passenger
### Most visited place